.App {
  width: 94vw;
  text-align: center;
}

button{
  background-color: rgb(24, 24, 255);
  font-size: 1rem;
  transition: all .2s;
}
button:active{
  transform: scale(.95);
  background-color: rgba(24, 24, 255, 0.733);
}